/* Naviagtion bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

#home-button {
  color: red;
}

/* Section 1 */
#homepage-background {
  background-image: url("html_task_pictures/pexels-photo-5965948.jpeg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

/* Section 6 */
#section-6{
  padding-left: 120px;
  padding-right: 120px;
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
  
}

.text-block {
    flex: 1; 
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.mindful-block {
  flex: 1; 
  padding: 15px;
  border: 1px solid #ccc;
  background-color: rgb(242, 238, 236);
}


/* About Us */
#about-us {
  border: 1px solid rgb(251, 251, 251);
  background-color: rgb(242, 238, 236);
  align-items: center;
  padding-left: 15px;
    
 }

.box {
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid rgb(251, 251, 251);
  background-color: rgb(253, 75, 5);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  
}




