/* Navigation Bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}
#home-button {
  color: red;
}

/* Section 1 */
#homepage-background {
  background-image: url("html_task_pictures/pexels-photo-5965948.jpeg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

 /* Seasonal Fruits & Veg */
#seasonal-heading {
  color: rgb(216, 6, 6);
}

#seasonal-fruit-table {
  margin: 0;
}

