/* Naviagtion bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}
#home-button {
  color: red;
}

/* Section 1 */
#homepage-background {
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

/* Section 2  */
/* Weightloss linked to Healthy Eating */
#read-more {
  border-color: orangered;
  color: orangered;
}

.container {
  display: flex;
}

.container div {
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  height: 400px;
}

.heading {
  font-size: large;
}

.img {
  width: 40px;
  height: 40px;
}

#red {
  background-color: rgb(171, 35, 35);
  color: white;
  text-align: center;

}

#green {
  background-color: rgb(44, 79, 44);
  color: white;
  text-align: center;

}

#black {
  background-color: black;
  color: white;
  text-align: center;

}

/* Section-3 */
.orange {
  background-color: orangered;
  color: white;
}

#table-sec3 {
  /* margin: 30px; */
  padding: 60px;
  
}

.food-icon {
  width: 70px;
  height: 70px;
}

/* Section 4  */
/* 25 Simple Tips to make Your Diet Healthier */
.paragraph {
  font-size: medium;
  color: #989696;
}

.circle-Image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-color: white;

 }

.heading {
  float:right;
  color: orangered;
  font-size: 50px;
  
}
/* Girl and text */
.myImage {
  float: right;
  height: 550px;
  width: 700px;
 }

.textpara {
  float:left;
  color: black;
}

/* Section-5 */
 /* Seasonal Fruits & Veg */
#seasonal-heading {
  color: rgb(216, 6, 6);
}

#seasonal-fruit-table {
  margin: 0;
}
.box {
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid rgb(251, 251, 251);
  background-color: rgb(253, 75, 5);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  
}




/* Section 6 */
#section-6{
  padding-left: 120px;
  padding-right: 120px;
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
  
}

.text-block {
    flex: 1; 
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.mindful-block {
  flex: 1; 
  padding: 15px;
  border: 1px solid #ccc;
  background-color: rgb(242, 238, 236);
}


/* About Us */
#about-us {
  border: 1px solid rgb(251, 251, 251);
  background-color: rgb(242, 238, 236);
  align-items: center;
  padding-left: 15px;
    
 }
 