/* Naviagtion bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}
#home-button {
  color: red;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
  display: block;
}

ul li a:hover {
  background-color: #f2f2f2;
}
.nav li.logo {
  margin-right: auto;
}

.navbar {
  /* justify-content: right; */
}

/* Section 1 */
.section-1 {
  background-image: url(html_task_pictures/pexels-photo-5965948.jpeg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
}

.content {
  max-width: 500px;
  color: white;
  font-size: larger;
}

#read-more1 {
  background-color: orangered;
  border-color: orangered;
  color: white;
  font-size: large;
  text-align: center;
  height: 40px;
  width: 120px;
  /* border-radius: 40%; */
}

/* Section 2  */
/* Weightloss linked to Healthy Eating */
#read-more {
  border-color: orangered;
  color: orangered;
}

.container {
  display: flex;
}

.container div {
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  height: 400px;
}

.heading {
  font-size: large;
}

.img {
  width: 40px;
  height: 40px;
}

#red {
  background-color: rgb(171, 35, 35);
  color: white;
  text-align: center;

}

#green {
  background-color: rgb(44, 79, 44);
  color: white;
  text-align: center;

}

#black {
  background-color: black;
  color: white;
  text-align: center;

}

/* Section-3 */
.orange {
  background-color: orangered;
  color: white;
}
.sec3-spacing {
  padding-right: 40px;
  padding-bottom: 40px;
}

#table-sec3 {
  /* margin: 30px; */
  padding: 60px;
  
}

.food-icon {
  width: 70px;
  height: 70px;
}

/* Section 4  */
/* 25 Simple Tips to make Your Diet Healthier */
.paragraph {
  font-size: medium;
  color: #989696;
}

.circle-Image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-color: white;

 }

.heading {
  float:right;
  color: orangered;
  font-size: 50px;
  
}
/* Girl and text */
.myImage {
  float: right;
  height: 550px;
  width: 700px;
 }

.textpara {
  float:left;
  color: black;
  background-color: #989696;
}

/* Section-5 */
 /* Seasonal Fruits & Veg */
#seasonal-heading {
  color:orangered;
}

.seasonal-space {
  padding-left: 20px;
  padding-right: 20px;
}

#seasonal-fruit-table {
  margin: 0;
}
.box {
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid rgb(251, 251, 251);
  background-color: orangered;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  
}

/* Section 6 */
#section-6{
  padding-left: 120px;
  padding-right: 120px;
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
  
}

.text-block {
    flex: 1; 
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.mindful-block {
  flex: 1; 
  padding: 15px;
  border: 1px solid #ccc;
  background-color: rgb(242, 238, 236);
}


/* About Us */
.container-sec6 {
  display: flex;
}

.container-sec6 div {
  padding: 20px;
  font-size: 24px;
  height: 400px;
}

#about-us {
  display: flex;
  background: #f2eeec;
}

.about-text {
  width: 70%;
  padding: 20px;
}

.org-box {
  width: 30%;
  background: #fd4b05;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

