.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

#home-button {
  color: red;
}

#homepage-background {
  background-image: url("html_task_pictures/pexels-photo-5965948.jpeg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

.container {
  display: flex;
}

.container div {
  margin: 20px;
  padding: 20px;
  color: #989696;
}

.circle-Image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-color: white;

 }

.heading {
  float:right;
  color: orangered;
  font-size: 50px;
  
}

.myImage {
  float: right;
  height: 550px;
  width: 700px;
 }

.textpara {
  float:left;
  color: black;
}
